{% extends 'base.html' %}
{% block title %}
 view staff
{% endblock %}

{% block body %}
  <!-- Begin Page Content -->
  <div class="container-fluid">
    <!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
      <marquee behavior="scroll" direction="left">
        <h1 class="h3 mb-0 text-gray-800" style="font-family: 'Bradley Hand ITC',cursive; font-weight: bold;">CIVIL REGISTRATION MANAGEMENT SYSTEM-SIERRA LEONE</h1>
      </marquee>
    </div>

    
<div class="col-md-12 text-left">
    <div class="card shadow mb-4">
      <div class="row">
        
        <div class="col-md-12 text-right">
          <button class="btn btn-primary"><a href="{% url 'register' %}" style="color: white;">+ADD NEW</a></button>
        </div>
      </div>
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">REGISTERED STAFF</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>ID</th>
                <th>FIRST NAME</th>
                <th>LAST NAME</th>
                <th>USERNAME</th>
                <th>REGISTERED DATE</th>
                <th>EMAIL</th>
                <th>ACTION</th>
              </tr>
            </thead>
            <tbody>
            
              {% for user in recent_users %}
                <tr>
                  <td>{{user.id}}</td>
                  <td>{{user.first_name}}</td>
                  <td>{{user.last_name}}</td>
                  <td>{{user.username}}</td>
                  <td>{{user.date_joined|date:'d M Y'}}</td>
                  <td>{{user.email}}</td>
                 <td>
                
                <form action="" method="post" class="d-inline">
                  {% csrf_token %}
                  <a href="{% url "emp_del" user.id %}" class="btn btn-danger btn-circle btn-sm px-0" >
                 <i class="fas fa-trash"></i></a>
                  </form>
              </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <!-- /.container-fluid -->
{% endblock %}
